@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projeto Palindromo</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />

</head>
<body>

    <div class="w-100 p-3 d-flex justify-content-center" style="background-color: #eee;">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light m-1 ">
                <a class="navbar-brand m-3 fw-bold" href="#">Projeto Palindromo</a>
            </nav>
        </div>
    </div>

    @if (TempData["Mensagem"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show mt-0 mb-0" role="alert">
            <strong class="d-flex justify-content-center">@TempData["Mensagem"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show mt-0 mb-0" role="alert">
            <strong class="d-flex justify-content-center">@TempData["MensagemErro"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    }

    @RenderBody()

    <div class="w-100 p-3 d-flex justify-content-center" style="background-color: #eee;">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light m-1 ">
                <a class="navbar-brand m-3 fw-bold" href="#">omordnilaP otejorP</a>
            </nav>
        </div>


    </div>

    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
</body>
</html>
